div{
	font-family: 'Arial';
	background-color: #91E915;
	text-align: center;
	font-weight: bolder;
	position: relative;
	width: 120px;
	height: 50px;
	display: inline-block;
	margin: 15px 2px;
	padding: 5px 40px;
	width: 80px;
	vertical-align: middle;

}
.sombra_movil{
		-webkit-transform:TranslateX(0);
}
.sombra_movil:hover{
	-webkit-transform:TranslateY(-6px);
	-webkit-animation:1.5s movercaja infinite;
}
@-webkit-keyframes movercaja{
	50%{
		-webkit-transform:translateY(-3px);
	}
}
.sombra_movil:before{
	position: absolute;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, 
		ellipse, rgba(0,0,0,0.35) 0%,
				 rgba(0,0,0,0) 80%);
	-webkit-transition-duration:0.3s;
}
.sombra_movil:hover:before{
	opacity: 0.4;
	-webkit-transform:tranlateY(6px);
	-webkit-animation:1.5s moversombra infinite;
}
		
@-webkit-keyframes moversombra{
	50%{
		opacity: 1;
		-webkit-transform:translateY(3px);
	}
}	