div{
	font-family: 'Arial';
	background-color: #91E915;
	text-align: center;
	font-weight: bolder;
	position: relative;
	width: 120px;
	height: 50px;
	display: inline-block;
	margin: 15px 2px;
	padding: 5px 40px;
	width: 80px;
	vertical-align: middle;

}

.click:hover{
	-webkit-animation:0.7s click 1;
}

@-webkit-keyframes click{
	25%,75%{
		-webkit-transform:scale(0.8);
	}
	50%{
		-webkit-transform:scale(1.1);	
	}
}