div{
	font-family: 'Arial';
	background-color: #91E915;
	text-align: center;
	font-weight: bolder;
	position: relative;
	width: 120px;
	height: 50px;
	display: inline-block;
	margin: 15px 2px;
	padding: 5px 40px;
	width: 80px;
	vertical-align: middle;

}
.giro{
		-webkit-animation:1.5s giro 1;
		-webkit-backface-visibility:visible;
}

@-webkit-keyframes giro{
	40%{
		-webkit-transform:perspective(100px)
						  rotateY(170deg);
	}		
	50%{
		-webkit-transform:perspective(100px)
						  rotateY(190deg);
	}
	80%{
		-webkit-transform:perspective(100px)
						  rotateY(360deg);
	}	
	100%{
		-webkit-transform:perspective(100px)
						  rotateY(360deg);
	}		



}