div{
	font-family: 'Arial';
	background-color: #91E915;
	text-align: center;
	font-weight: bolder;
	position: relative;
	width: 120px;
	height: 50px;
	display: inline-block;
	margin: 15px 2px;
	padding: 5px 40px;
	width: 80px;
	vertical-align: middle;

}
.rebotein{
		-webkit-animation:1s rebotein 1;
}
@-webkit-keyframes rebotein{
	0%{
		opacity: 0;
		-webkit-transform:translateX(-2000px);
	}
	50%{
		opacity: 1;
		-webkit-transform:translateX(30px);
	}
	70%{
		opacity: 1;
		-webkit-transform:translateX(-10px);
	}	
}